@media all {
    .aa-esistatus-header-addition {
        display: block;
    }

    .aa-esistatus .card-footer .card-header {
        cursor: pointer;
    }

    .aa-esistatus .card-footer .card-default,
    .aa-esistatus .card-footer .card-default .card-body p:last-child {
        margin-bottom: 0;
    }
}
