{% extends "allianceauth/base-bs5.html" %}

{% load i18n %}

{% block page_title %}
    {% translate "ESI Status" %}
{% endblock %}

{% block header_nav_brand %}
    {% include "esistatus/svg/esi-logo.svg" %}
    {% translate "Status" %}
{% endblock header_nav_brand %}

{% block content %}
    <div class="aa-esistatus">
        <div class="aa-esistatus-body">
            {% block aa_esistatus_body %}{% endblock %}
        </div>

        <div class="aa-esistatus-footer mt-3 pt-3 border-top border-light">
            {% include "esistatus/partials/footer/app-translation-footer.html" %}
        </div>
    </div>
{% endblock %}
