{% extends "allianceauth/base.html" %}

{% load i18n %}

{% block page_title %}{% translate "ESI Status" %}{% endblock %}

{% block content %}
    <div class="aa-esistatus">
        <div class="aa-esistatus-header">
            {% block aa_esistatus_header %}{% endblock %}
        </div>

        <div class="aa-esistatus-body">
            {% block aa_esistatus_body %}{% endblock %}
        </div>

        <div class="aa-esistatus-footer">
            {% include "esistatus/partials/footer/app-translation-footer.html" %}
        </div>
    </div>
{% endblock %}
