{% extends "esistatus/base.html" %}

{% load i18n static %}

{% block aa_esistatus_body %}
    <div class="esistatus-loading text-center">
        <svg class="svg-sprite svg-loading-spinner">
            <use href="#aa-loading-spinner"></use>
        </svg>
        <p class="my-1">{% translate "Loading ESI status…" %}</p>
    </div>

    <div class="esi-status-index"></div>
{% endblock aa_esistatus_body %}

{% block extra_css %}
    {% include "esistatus/bundles/esistatus-css.html" %}
{% endblock extra_css %}

{% block extra_javascript %}
    <script>
        const esistatusSettings = {
            url: {
                esistatus: '{% url "esistatus:ajax_esi_status" %}',
            }
        };
    </script>

    {% include "bundles/chart-js.html" %}
    {% include "esistatus/bundles/esistatus-endpoint-history-js.html" %}
    {% include "esistatus/bundles/esistatus-js.html" %}
{% endblock extra_javascript %}
